.libraryContainer{
    display: flex;
    flex-direction: column;
    width: 1000px;
    height: 200px;
}
.header{
    display:flex;
}
.mainTable{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.oneBook {
    display: flex;
    justify-content: space-between;
}
.one {
    width:200px;
}


.inputBook {
    display: flex;
    flex-direction: column;
}